.card-component-container {
  width: 150px;
  min-width: 150px;
  margin-left: 20px;
  position: relative;
  .card-img {
    width: 150px;
    border-radius: 15px;
  }
  .card-image-visible {
    opacity: 1;
  }
  .card-image-hidden {
    opacity: 0;
  }
  /* Circular progress styles */
  .CircularProgressbar {
    width: 40px;
    vertical-align: middle;
    position: absolute;
    margin-top: -25px;
  }
  .CircularProgressbar .CircularProgressbar-path {
    stroke: #b3ffb3;
    stroke-linecap: round;
    transition: stroke-dashoffset 0.5s ease 0s;
  }
  .CircularProgressbar .CircularProgressbar-trail {
    stroke: #000;
    stroke-linecap: round;
  }
  .CircularProgressbar .CircularProgressbar-text {
    fill: #b3ffb3;
    font-size: 32px;
    dominant-baseline: middle;
    text-anchor: middle;
  }
  .CircularProgressbar .CircularProgressbar-background {
    fill: black;
  }
  /* Heart styles */
  .sc-AxjAm {
    position: absolute;
    top: -25px;
    right: -25px;
  }
}


