@import "./../../styles/colors";

.header-container {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(var(--tmdbDarkBlue), 1);
  height: 64px;
  width: 100vw;
  z-index: 1;
  transition: top 0.2s linear;
  background-color: black;
  display: flex;
  align-items: center;
  a {
    display: flex;
    align-items: center;
    height: 64px;
    text-decoration: none;
    margin: 0 auto;
    .header-text {
      font-family: 'Orbitron', sans-serif;
      color: $primary-color;
    }
  }
  .lang-container {
    position: absolute;
    right: 40px;
    cursor: pointer;
    align-items: center;
    display: flex;
    span {
      color: $primary-color;
      margin-right: 10px;
    }
    .language-btn {
      padding: 0;
      border: 0;
      width: 40px;
      height: 20px;
      cursor: pointer;
      margin-top: -8px;
      img {
        width: 100%;
        margin-top: -8px;
      }
    }
  }
}
.header-container.sticky {
  top: -64px;
}
