.header-container {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(var(--tmdbDarkBlue), 1);
  height: 64px;
  width: 100vw;
  z-index: 1;
  transition: top 0.2s linear;
  background-color: black;
  .img-logo {
    width: 60px;
    margin: 0 10px 0 15px;
  }
  h1 {
    color: white;
  }
}
.header-container.sticky {
  top: -64px;
}
