.details-component-header {
  margin-top: 64px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  .details-container {
    max-width: 1300px;
    display: flex;
    margin: 0 auto;
    padding: 50px;
    justify-content: center;
    .details-poster-container {
      position: relative;
      /* Heart styles */
      .sc-AxjAm {
        position: absolute;
        left: 200px;
        top: 0;
        @media (max-width: 768px) {
          left: 75px;
          top: -25px;
        }
      }
    }
  }
}

.details-data {
  display: none;
  .overview-container {
    text-align: left;
  }
  .score-container {
    span {
      margin-left: 20px;
    }
    .CircularProgressbar {
      width: 40px;
      vertical-align: middle;
    }
    .CircularProgressbar .CircularProgressbar-path {
      stroke: #b3ffb3;
      stroke-linecap: round;
      transition: stroke-dashoffset 0.5s ease 0s;
    }
    .CircularProgressbar .CircularProgressbar-trail {
      stroke: #000;
      stroke-linecap: round;
    }
    .CircularProgressbar .CircularProgressbar-text {
      fill: #b3ffb3;
      font-size: 32px;
      dominant-baseline: middle;
      text-anchor: middle;
    }
    .CircularProgressbar .CircularProgressbar-background {
      fill: black;
    }
  }
}

.details-desk-container {
  color: white;
  padding: 40px 60px;
  @media (min-width: 769px) {
    display: block;
  }
}
.details-mobile-container {
  text-align: center;
  padding: 20px 30px;
  @media (max-width: 768px) {
    display: block;
  }
}
