@import "./../../styles/media-queries";

.content-scroller-container {
  width: 100%;
  padding-top: 100px;
  .content-flex-scroller {
    width: 100%;
    max-width: 1300px;
    overflow-x: scroll;
    overflow-y: hidden;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    margin: 0 auto;
    .content-flex-scroller-loader-container {
      width: 100%;
      padding: 50px;
      text-align: center;
    }
  }
  h2 {
    font-size: 32px;
    max-width: 1300px;
    padding-left: 20px;
    margin: 0 auto 50px;
    color: white;
    @media (max-width: $breakpoint-mobile) {
      font-size: 24px;
    }
  }
}
.container-bg-color {
  background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(0,0,0,1) calc(100% - 64px));
}