.content-scroller-container {
  height: calc(100vh - 64px);
  position: relative;
  background: rgb(255,255,255);
}
.container-bg-color {
  background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(0,0,0,1) 100%);
}

.content-flex-scroller {
  width: 100%;
  max-width: 1300px;
  overflow-x: scroll;
  overflow-y: hidden;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 0 auto 20px;
  position: absolute;
  bottom: 0;
}

h2 {
  font-size: 48px;
  position: absolute;
  bottom: 400px;
  max-width: 60%;
  margin-left: 20px;
}

.color-white {
  color: white;
}